/*== CSS Variables ==*/

:root {
	--primary-color: #222222; /* Dark Gray */
  --secondary-color: #ffffff; /* White */
}

/*== Global Resets ==*/

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/*== Global Styles ==*/

body {
  color: var(--primary-color);
  font-family: helvetica, arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main, article {
  line-height: 1.75;
}

h1, h2, h3 {
  font-family: 'Major Mono Display', monospace;
}

a {
	color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 1px;
  transition: 0.2s ease;
}

.wrapper {
  width: 65%;
  margin: 2rem auto 0;
  flex-grow: 1;
}

/* Header & Footer Styles */

header {
  display: flex;
  justify-content: space-around;
}

header, footer {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

header ul, header ol {
  list-style: none;
  padding: 0;
}

#menu-icon {
	display: none;
}

li.menu-item {
  position: relative;
  display: inline-block;
  margin: 16px;
}

li.menu-item:hover > ul.submenu {
  opacity: 1;
  visibility: visible;
}

ul.submenu {
  position: absolute;
  left: 0;
  top: 150%;
  min-width: 5rem;
  border-top: 2px solid var(--secondary-color);
	background-color: var(--primary-color);
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

li.submenu-item {
  margin-bottom: .65rem;
}

header a, footer a {
	color: var(--secondary-color);
}

header a:hover, footer a:hover {
  border-bottom: 3px solid var(--secondary-color);
  padding-bottom: 1px;
  transition: 0.2s ease;
}

footer#eleventy-logo {
	max-width: 30px;
}

/*== Page Styles ==*/

/* About Page */

img#eleventy-logo {
  width: 20%;
	min-width: 100px;
}


/*== Post Styles ==*/


/*== Media Queries ==*/

@media screen and (max-width: 650px) {

	#menu-icon {
		display: block;
		float: right;
		width: 1.5rem;
		padding-top: 1.5rem;
	}

	.main-menu {
		display: none;
	}

	#site-nav:hover .main-menu {
		display: block;
		position: absolute;
		top: 74px;
		left: 0;
		width: 100vw;
		background-color: var(--primary-color);
	}

}
